@font-face {
  font-family: 'Fantasy-Flight-Icons';
  src:  url('fonts/Fantasy-Flight-Icons.eot?abahzn');
  src:  url('fonts/Fantasy-Flight-Icons.eot?abahzn#iefix') format('embedded-opentype'),
    url('fonts/Fantasy-Flight-Icons.ttf?abahzn') format('truetype'),
    url('fonts/Fantasy-Flight-Icons.woff?abahzn') format('woff'),
    url('fonts/Fantasy-Flight-Icons.svg?abahzn#Fantasy-Flight-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Fantasy-Flight-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ffi-d6:before {
  content: "\e900";
}
.ffi-d6-outline:before {
  content: "\e901";
}
.ffi-d8:before {
  content: "\e902";
}
.ffi-d8-outline:before {
  content: "\e903";
}
.ffi-d12:before {
  content: "\e904";
}
.ffi-d12-outline:before {
  content: "\e905";
}
.ffi-grpg-advantage:before {
  content: "\e906";
}
.ffi-grpg-despair:before {
  content: "\e907";
}
.ffi-grpg-failure:before {
  content: "\e908";
}
.ffi-grpg-success:before {
  content: "\e909";
}
.ffi-grpg-threat:before {
  content: "\e90a";
}
.ffi-grpg-triumph:before {
  content: "\e90b";
}
.ffi-ia-action:before {
  content: "\e90c";
}
.ffi-ia-block:before {
  content: "\e90d";
}
.ffi-ia-damage:before {
  content: "\e90e";
}
.ffi-ia-dodge:before {
  content: "\e90f";
}
.ffi-ia-evade:before {
  content: "\e910";
}
.ffi-ia-surge:before {
  content: "\e911";
}
.ffi-swa-accuracy:before {
  content: "\e912";
}
.ffi-swa-brace:before {
  content: "\e913";
}
.ffi-swa-concentrate:before {
  content: "\e914";
}
.ffi-swa-contain:before {
  content: "\e915";
}
.ffi-swa-crit:before {
  content: "\e916";
}
.ffi-swa-evade:before {
  content: "\e917";
}
.ffi-swa-hit:before {
  content: "\e918";
}
.ffi-swa-navigate:before {
  content: "\e919";
}
.ffi-swa-redirect:before {
  content: "\e91a";
}
.ffi-swa-repair:before {
  content: "\e91b";
}
.ffi-swa-scatter:before {
  content: "\e91c";
}
.ffi-swa-squadron:before {
  content: "\e91d";
}
.ffi-swrpg-advantage:before {
  content: "\e91e";
}
.ffi-swrpg-despair:before {
  content: "\e91f";
}
.ffi-swrpg-failure:before {
  content: "\e920";
}
.ffi-swrpg-force:before {
  content: "\e921";
}
.ffi-swrpg-force-outline:before {
  content: "\e922";
}
.ffi-swrpg-success:before {
  content: "\e923";
}
.ffi-swrpg-threat:before {
  content: "\e924";
}
.ffi-swrpg-triumph:before {
  content: "\e925";
}
