@font-face {
  font-family: 'Fantasy-Flight-Icons';
  src:  url('fonts/Fantasy-Flight-Icons.eot?ap7olf');
  src:  url('fonts/Fantasy-Flight-Icons.eot?ap7olf#iefix') format('embedded-opentype'),
    url('fonts/Fantasy-Flight-Icons.ttf?ap7olf') format('truetype'),
    url('fonts/Fantasy-Flight-Icons.woff?ap7olf') format('woff'),
    url('fonts/Fantasy-Flight-Icons.svg?ap7olf#Fantasy-Flight-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Fantasy-Flight-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ffi-ia-action:before {
  content: "\e914";
}
.ffi-ia-block:before {
  content: "\e915";
}
.ffi-ia-damage:before {
  content: "\e916";
}
.ffi-ia-dodge:before {
  content: "\e917";
}
.ffi-ia-evade:before {
  content: "\e918";
}
.ffi-ia-surge:before {
  content: "\e919";
}
.ffi-swa-accuracy:before {
  content: "\e91a";
}
.ffi-swa-crit:before {
  content: "\e91b";
}
.ffi-swa-hit:before {
  content: "\e91c";
}
.ffi-d6:before {
  content: "\e900";
}
.ffi-d6-outline:before {
  content: "\e901";
}
.ffi-d8:before {
  content: "\e902";
}
.ffi-d8-outline:before {
  content: "\e903";
}
.ffi-d12:before {
  content: "\e904";
}
.ffi-d12-outline:before {
  content: "\e905";
}
.ffi-grpg-advantage:before {
  content: "\e906";
}
.ffi-grpg-despair:before {
  content: "\e907";
}
.ffi-grpg-failure:before {
  content: "\e908";
}
.ffi-grpg-success:before {
  content: "\e909";
}
.ffi-grpg-threat:before {
  content: "\e90a";
}
.ffi-grpg-triumph:before {
  content: "\e90b";
}
.ffi-swrpg-advantage:before {
  content: "\e90c";
}
.ffi-swrpg-despair:before {
  content: "\e90d";
}
.ffi-swrpg-failure:before {
  content: "\e90e";
}
.ffi-swrpg-force:before {
  content: "\e90f";
}
.ffi-swrpg-force-outline:before {
  content: "\e910";
}
.ffi-swrpg-success:before {
  content: "\e911";
}
.ffi-swrpg-threat:before {
  content: "\e912";
}
.ffi-swrpg-triumph:before {
  content: "\e913";
}
