$icomoon-font-path: "fonts" !default;

$ffi-ia-action: "\e914";
$ffi-ia-block: "\e915";
$ffi-ia-damage: "\e916";
$ffi-ia-dodge: "\e917";
$ffi-ia-evade: "\e918";
$ffi-ia-surge: "\e919";
$ffi-swa-accuracy: "\e91a";
$ffi-swa-crit: "\e91b";
$ffi-swa-hit: "\e91c";
$ffi-d6: "\e900";
$ffi-d6-outline: "\e901";
$ffi-d8: "\e902";
$ffi-d8-outline: "\e903";
$ffi-d12: "\e904";
$ffi-d12-outline: "\e905";
$ffi-grpg-advantage: "\e906";
$ffi-grpg-despair: "\e907";
$ffi-grpg-failure: "\e908";
$ffi-grpg-success: "\e909";
$ffi-grpg-threat: "\e90a";
$ffi-grpg-triumph: "\e90b";
$ffi-swrpg-advantage: "\e90c";
$ffi-swrpg-despair: "\e90d";
$ffi-swrpg-failure: "\e90e";
$ffi-swrpg-force: "\e90f";
$ffi-swrpg-force-outline: "\e910";
$ffi-swrpg-success: "\e911";
$ffi-swrpg-threat: "\e912";
$ffi-swrpg-triumph: "\e913";

