$icomoon-font-path: "fonts" !default;

$ffi-d6: "\e900";
$ffi-d6-outline: "\e901";
$ffi-d8: "\e902";
$ffi-d8-outline: "\e903";
$ffi-d12: "\e904";
$ffi-d12-outline: "\e905";
$ffi-grpg-advantage: "\e906";
$ffi-grpg-despair: "\e907";
$ffi-grpg-failure: "\e908";
$ffi-grpg-success: "\e909";
$ffi-grpg-threat: "\e90a";
$ffi-grpg-triumph: "\e90b";
$ffi-ia-action: "\e90c";
$ffi-ia-block: "\e90d";
$ffi-ia-damage: "\e90e";
$ffi-ia-dodge: "\e90f";
$ffi-ia-evade: "\e910";
$ffi-ia-surge: "\e911";
$ffi-swa-accuracy: "\e912";
$ffi-swa-brace: "\e913";
$ffi-swa-concentrate: "\e914";
$ffi-swa-contain: "\e915";
$ffi-swa-crit: "\e916";
$ffi-swa-evade: "\e917";
$ffi-swa-hit: "\e918";
$ffi-swa-navigate: "\e919";
$ffi-swa-redirect: "\e91a";
$ffi-swa-repair: "\e91b";
$ffi-swa-scatter: "\e91c";
$ffi-swa-squadron: "\e91d";
$ffi-swrpg-advantage: "\e91e";
$ffi-swrpg-despair: "\e91f";
$ffi-swrpg-failure: "\e920";
$ffi-swrpg-force: "\e921";
$ffi-swrpg-force-outline: "\e922";
$ffi-swrpg-success: "\e923";
$ffi-swrpg-threat: "\e924";
$ffi-swrpg-triumph: "\e925";

