@font-face {
  font-family: 'sw-rpg-icons';
  src: url("../fonts/sw-rpg-icons.eot?32jxyw");
  src: url("../fonts/sw-rpg-icons.eot?32jxyw#iefix") format("embedded-opentype"), url("../fonts/sw-rpg-icons.ttf?32jxyw") format("truetype"), url("../fonts/sw-rpg-icons.woff?32jxyw") format("woff"), url("../fonts/sw-rpg-icons.svg?32jxyw#sw-rpg-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

i.ffi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sw-rpg-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ffi-swrpg-despair:before {
  content: "\e904"; }

.ffi-swrpg-advantage:before {
  content: "\e900"; }

.ffi-swrpg-advantage-advantage:before {
  content: "\e901"; }

.ffi-swrpg-advantage-advantage-alternate:before {
  content: "\e902"; }

.ffi-swrpg-advantage-success:before {
  content: "\e903"; }

.ffi-swrpg-failure:before {
  content: "\e905"; }

.ffi-swrpg-failure-failure:before {
  content: "\e906"; }

.ffi-swrpg-failure-threat:before {
  content: "\e907"; }

.ffi-swrpg-force:before {
  content: "\e908"; }

.ffi-swrpg-force-outline:before {
  content: "\e909"; }

.ffi-swrpg-force-split:before {
  content: "\e90a"; }

.ffi-swrpg-success:before {
  content: "\e90b"; }

.ffi-swrpg-success-success:before {
  content: "\e90c"; }

.ffi-swrpg-threat:before {
  content: "\e90d"; }

.ffi-swrpg-threat-threat:before {
  content: "\e90e"; }

.ffi-swrpg-triumph:before {
  content: "\e90f"; }

.ffi-swa-accuracy:before {
  content: "\e910"; }

.ffi-swa-anti-ship:before {
  content: "\e911"; }

.ffi-swa-anti-squadron:before {
  content: "\e912"; }

.ffi-swa-bomber:before {
  content: "\e913"; }

.ffi-swa-brace:before {
  content: "\e914"; }

.ffi-swa-concentrate:before {
  content: "\e915"; }

.ffi-swa-contain:before {
  content: "\e916"; }

.ffi-swa-counter:before {
  content: "\e917"; }

.ffi-swa-crit:before {
  content: "\e918"; }

.ffi-swa-d8:before {
  content: "\e919"; }

.ffi-swa-escort:before {
  content: "\e91a"; }

.ffi-swa-evade:before {
  content: "\e91b"; }

.ffi-swa-grit:before {
  content: "\e91c"; }

.ffi-swa-heavy:before {
  content: "\e91d"; }

.ffi-swa-hit:before {
  content: "\e91e"; }

.ffi-swa-hull:before {
  content: "\e91f"; }

.ffi-swa-navigate:before {
  content: "\e920"; }

.ffi-swa-redirect:before {
  content: "\e921"; }

.ffi-swa-repair:before {
  content: "\e922"; }

.ffi-swa-rogue:before {
  content: "\e923"; }

.ffi-swa-scatter:before {
  content: "\e924"; }

.ffi-swa-shuttle:before {
  content: "\e925"; }

.ffi-swa-speed:before {
  content: "\e926"; }

.ffi-swa-squadron:before {
  content: "\e927"; }

.ffi-swa-swarm:before {
  content: "\e928"; }

.ffi-swa-turn-0:before {
  content: "\e929"; }

.ffi-swa-turn-1:before {
  content: "\e92a"; }

.ffi-swa-turn-2:before {
  content: "\e92b"; }

.ffi-ia-action:before {
  content: "\e92c"; }

.ffi-ia-block:before {
  content: "\e92d"; }

.ffi-ia-damage:before {
  content: "\e92e"; }

.ffi-ia-dodge:before {
  content: "\e92f"; }

.ffi-ia-evade:before {
  content: "\e930"; }

.ffi-ia-insight:before {
  content: "\e931"; }

.ffi-ia-melee:before {
  content: "\e932"; }

.ffi-ia-strain:before {
  content: "\e933"; }

.ffi-ia-strength:before {
  content: "\e934"; }

.ffi-ia-surge:before {
  content: "\e935"; }

.ffi-ia-tech:before {
  content: "\e936"; }

.ffi-grpg-advantage:before {
  content: "\e937"; }

.ffi-grpg-despair:before {
  content: "\e938"; }

.ffi-grpg-failure:before {
  content: "\e939"; }

.ffi-grpg-success:before {
  content: "\e93a"; }

.ffi-grpg-threat:before {
  content: "\e93b"; }

.ffi-grpg-triumph:before {
  content: "\e93c"; }

.ffi-d6:before {
  content: "\e93d"; }

.ffi-d6-outline:before {
  content: "\e93e"; }

.ffi-d8:before {
  content: "\e93f"; }

.ffi-d8-outline:before {
  content: "\e940"; }

.ffi-d12:before {
  content: "\e941"; }

.ffi-d12-outline:before {
  content: "\e942"; }

.ffi-imperial:before {
  content: "\e943"; }

.ffi-mercinary:before {
  content: "\e944"; }

.ffi-rebel:before {
  content: "\e945"; }

