@import "variables";

@font-face {
  font-family: 'sw-rpg-icons';
  src:  url('#{$base-font-path}/sw-rpg-icons.eot?681sk1');
  src:  url('#{$base-font-path}/sw-rpg-icons.eot?681sk1#iefix') format('embedded-opentype'),
    url('#{$base-font-path}/sw-rpg-icons.ttf?681sk1') format('truetype'),
    url('#{$base-font-path}/sw-rpg-icons.woff?681sk1') format('woff'),
    url('#{$base-font-path}/sw-rpg-icons.svg?681sk1#sw-rpg-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sw-rpg-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ffi-d6 {
  &:before {
    content: $ffi-d6;
  }
}
.ffi-d6-outline {
  &:before {
    content: $ffi-d6-outline;
  }
}
.ffi-d8 {
  &:before {
    content: $ffi-d8;
  }
}
.ffi-d8-outline {
  &:before {
    content: $ffi-d8-outline;
  }
}
.ffi-d12 {
  &:before {
    content: $ffi-d12;
  }
}
.ffi-d12-outline {
  &:before {
    content: $ffi-d12-outline;
  }
}
.ffi-grpg-advantage {
  &:before {
    content: $ffi-grpg-advantage;
  }
}
.ffi-grpg-despair {
  &:before {
    content: $ffi-grpg-despair;
  }
}
.ffi-grpg-failure {
  &:before {
    content: $ffi-grpg-failure;
  }
}
.ffi-grpg-success {
  &:before {
    content: $ffi-grpg-success;
  }
}
.ffi-grpg-threat {
  &:before {
    content: $ffi-grpg-threat;
  }
}
.ffi-grpg-triumph {
  &:before {
    content: $ffi-grpg-triumph;
  }
}
.ffi-ia-action {
  &:before {
    content: $ffi-ia-action;
  }
}
.ffi-ia-block {
  &:before {
    content: $ffi-ia-block;
  }
}
.ffi-ia-damage {
  &:before {
    content: $ffi-ia-damage;
  }
}
.ffi-ia-dodge {
  &:before {
    content: $ffi-ia-dodge;
  }
}
.ffi-ia-evade {
  &:before {
    content: $ffi-ia-evade;
  }
}
.ffi-ia-insight {
  &:before {
    content: $ffi-ia-insight;
  }
}
.ffi-ia-melee {
  &:before {
    content: $ffi-ia-melee;
  }
}
.ffi-ia-strain {
  &:before {
    content: $ffi-ia-strain;
  }
}
.ffi-ia-strength {
  &:before {
    content: $ffi-ia-strength;
  }
}
.ffi-ia-surge {
  &:before {
    content: $ffi-ia-surge;
  }
}
.ffi-ia-tech {
  &:before {
    content: $ffi-ia-tech;
  }
}
.ffi-imperial {
  &:before {
    content: $ffi-imperial;
  }
}
.ffi-mercinary {
  &:before {
    content: $ffi-mercinary;
  }
}
.ffi-rebel {
  &:before {
    content: $ffi-rebel;
  }
}
.ffi-swa-accuracy {
  &:before {
    content: $ffi-swa-accuracy;
  }
}
.ffi-swa-bomber {
  &:before {
    content: $ffi-swa-bomber;
  }
}
.ffi-swa-brace {
  &:before {
    content: $ffi-swa-brace;
  }
}
.ffi-swa-concentrate {
  &:before {
    content: $ffi-swa-concentrate;
  }
}
.ffi-swa-contain {
  &:before {
    content: $ffi-swa-contain;
  }
}
.ffi-swa-counter {
  &:before {
    content: $ffi-swa-counter;
  }
}
.ffi-swa-crit {
  &:before {
    content: $ffi-swa-crit;
  }
}
.ffi-swa-escort {
  &:before {
    content: $ffi-swa-escort;
  }
}
.ffi-swa-evade {
  &:before {
    content: $ffi-swa-evade;
  }
}
.ffi-swa-grit {
  &:before {
    content: $ffi-swa-grit;
  }
}
.ffi-swa-heavy {
  &:before {
    content: $ffi-swa-heavy;
  }
}
.ffi-swa-hit {
  &:before {
    content: $ffi-swa-hit;
  }
}
.ffi-swa-navigate {
  &:before {
    content: $ffi-swa-navigate;
  }
}
.ffi-swa-redirect {
  &:before {
    content: $ffi-swa-redirect;
  }
}
.ffi-swa-repair {
  &:before {
    content: $ffi-swa-repair;
  }
}
.ffi-swa-rogue {
  &:before {
    content: $ffi-swa-rogue;
  }
}
.ffi-swa-scatter {
  &:before {
    content: $ffi-swa-scatter;
  }
}
.ffi-swa-squadron {
  &:before {
    content: $ffi-swa-squadron;
  }
}
.ffi-swa-swarm {
  &:before {
    content: $ffi-swa-swarm;
  }
}
.ffi-swrpg-advantage {
  &:before {
    content: $ffi-swrpg-advantage;
  }
}
.ffi-swrpg-despair {
  &:before {
    content: $ffi-swrpg-despair;
  }
}
.ffi-swrpg-failure {
  &:before {
    content: $ffi-swrpg-failure;
  }
}
.ffi-swrpg-force {
  &:before {
    content: $ffi-swrpg-force;
  }
}
.ffi-swrpg-force-outline {
  &:before {
    content: $ffi-swrpg-force-outline;
  }
}
.ffi-swrpg-success {
  &:before {
    content: $ffi-swrpg-success;
  }
}
.ffi-swrpg-threat {
  &:before {
    content: $ffi-swrpg-threat;
  }
}
.ffi-swrpg-triumph {
  &:before {
    content: $ffi-swrpg-triumph;
  }
}

