$icomoon-font-path: "fonts" !default;

$ffi-d6: "\e900";
$ffi-d6-outline: "\e901";
$ffi-d8: "\e902";
$ffi-d8-outline: "\e903";
$ffi-d12: "\e904";
$ffi-d12-outline: "\e905";
$ffi-grpg-advantage: "\e906";
$ffi-grpg-despair: "\e907";
$ffi-grpg-failure: "\e908";
$ffi-grpg-success: "\e909";
$ffi-grpg-threat: "\e90a";
$ffi-grpg-triumph: "\e90b";
$ffi-ia-action: "\e90c";
$ffi-ia-block: "\e90d";
$ffi-ia-damage: "\e90e";
$ffi-ia-dodge: "\e90f";
$ffi-ia-evade: "\e910";
$ffi-ia-insight: "\e911";
$ffi-ia-melee: "\e912";
$ffi-ia-strain: "\e913";
$ffi-ia-strength: "\e914";
$ffi-ia-surge: "\e915";
$ffi-ia-tech: "\e916";
$ffi-imperial: "\e917";
$ffi-mercinary: "\e918";
$ffi-rebel: "\e919";
$ffi-swa-accuracy: "\e91a";
$ffi-swa-anti-ship: "\e91b";
$ffi-swa-anti-squadron: "\e91c";
$ffi-swa-bomber: "\e91d";
$ffi-swa-brace: "\e91e";
$ffi-swa-concentrate: "\e91f";
$ffi-swa-contain: "\e920";
$ffi-swa-counter: "\e921";
$ffi-swa-crit: "\e922";
$ffi-swa-escort: "\e923";
$ffi-swa-evade: "\e924";
$ffi-swa-grit: "\e925";
$ffi-swa-heavy: "\e926";
$ffi-swa-hit: "\e927";
$ffi-swa-hull: "\e928";
$ffi-swa-navigate: "\e929";
$ffi-swa-redirect: "\e92a";
$ffi-swa-repair: "\e92b";
$ffi-swa-rogue: "\e92c";
$ffi-swa-scatter: "\e92d";
$ffi-swa-speed: "\e92e";
$ffi-swa-squadron: "\e92f";
$ffi-swa-swarm: "\e930";
$ffi-swrpg-advantage: "\e931";
$ffi-swrpg-despair: "\e932";
$ffi-swrpg-failure: "\e933";
$ffi-swrpg-force: "\e934";
$ffi-swrpg-force-outline: "\e935";
$ffi-swrpg-success: "\e936";
$ffi-swrpg-threat: "\e937";
$ffi-swrpg-triumph: "\e938";

