.ffi-swrpg-ability-color {
  color: #52B849; }

.ffi-swrpg-boost-color {
  color: #A0D9F5; }

.ffi-swrpg-challenge-color {
  color: #E21D37; }

.ffi-swrpg-difficulty-color {
  color: #512C7D; }

.ffi-swrpg-force-color {
  color: #FFFFFF; }

.ffi-swrpg-proficiency-color {
  color: #FEE800; }

.ffi-swrpg-setback-color {
  color: #221F1F; }

.ffi-grpg-ability-color {
  color: #41AD49; }

.ffi-grpg-boost-color {
  color: #72CDDC; }

.ffi-grpg-challenge-color {
  color: #7D1721; }

.ffi-grpg-difficulty-color {
  color: #6C2B83; }

.ffi-grpg-proficiency-color {
  color: #FDE700; }

.ffi-grpg-setback-color {
  color: #000000; }

