$base-font-path: "../fonts" !default;

$ffi-swrpg-despair: \e904;
$ffi-swrpg-advantage: \e900;
$ffi-swrpg-advantage-advantage: \e901;
$ffi-swrpg-advantage-advantage-alternate: \e902;
$ffi-swrpg-advantage-success: \e903;
$ffi-swrpg-failure: \e905;
$ffi-swrpg-failure-failure: \e906;
$ffi-swrpg-failure-threat: \e907;
$ffi-swrpg-force: \e908;
$ffi-swrpg-force-outline: \e909;
$ffi-swrpg-force-split: \e90a;
$ffi-swrpg-success: \e90b;
$ffi-swrpg-success-success: \e90c;
$ffi-swrpg-threat: \e90d;
$ffi-swrpg-threat-threat: \e90e;
$ffi-swrpg-triumph: \e90f;
$ffi-swa-accuracy: \e910;
$ffi-swa-anti-ship: \e911;
$ffi-swa-anti-squadron: \e912;
$ffi-swa-bomber: \e913;
$ffi-swa-brace: \e914;
$ffi-swa-concentrate: \e915;
$ffi-swa-contain: \e916;
$ffi-swa-counter: \e917;
$ffi-swa-crit: \e918;
$ffi-swa-d8: \e919;
$ffi-swa-escort: \e91a;
$ffi-swa-evade: \e91b;
$ffi-swa-grit: \e91c;
$ffi-swa-heavy: \e91d;
$ffi-swa-hit: \e91e;
$ffi-swa-hull: \e91f;
$ffi-swa-navigate: \e920;
$ffi-swa-redirect: \e921;
$ffi-swa-repair: \e922;
$ffi-swa-rogue: \e923;
$ffi-swa-scatter: \e924;
$ffi-swa-shuttle: \e925;
$ffi-swa-speed: \e926;
$ffi-swa-squadron: \e927;
$ffi-swa-swarm: \e928;
$ffi-swa-turn-0: \e929;
$ffi-swa-turn-1: \e92a;
$ffi-swa-turn-2: \e92b;
$ffi-ia-action: \e92c;
$ffi-ia-block: \e92d;
$ffi-ia-damage: \e92e;
$ffi-ia-dodge: \e92f;
$ffi-ia-evade: \e930;
$ffi-ia-insight: \e931;
$ffi-ia-melee: \e932;
$ffi-ia-strain: \e933;
$ffi-ia-strength: \e934;
$ffi-ia-surge: \e935;
$ffi-ia-tech: \e936;
$ffi-grpg-advantage: \e937;
$ffi-grpg-despair: \e938;
$ffi-grpg-failure: \e939;
$ffi-grpg-success: \e93a;
$ffi-grpg-threat: \e93b;
$ffi-grpg-triumph: \e93c;
$ffi-d6: \e93d;
$ffi-d6-outline: \e93e;
$ffi-d8: \e93f;
$ffi-d8-outline: \e940;
$ffi-d12: \e941;
$ffi-d12-outline: \e942;
$ffi-imperial: \e943;
$ffi-mercinary: \e944;
$ffi-rebel: \e945;

